<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/dist/output.css')}}" />
  </head>

  <body class="text-grey antialiased">
    <section>
      <div class="absolute min-h-screen min-w-full">
        <div class="pt-30 absolute top-0 z-0 h-1/2 w-full bg-cover bg-bottom px-14 text-center text-white" style="background-image: url('https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')"></div>
        <<div
                class="absolute z-20 bottom-10 right-0 left-0 inline-flex space-x-20 justify-center font-bold uppercase tracking-wide text-gray-600"
            >
                <a href="#about" class="hover:text-indigo-600">About me</a>
                <a href="#Projets" class="hover:text-indigo-600">Projects</a>
                <a href="#Contact" class="hover:text-indigo-600">Contact</a>
            </div>>
      </div>
      <div class="relative z-10 flex h-auto min-h-screen items-center justify-center">
        <div class="relative max-w-4xl">
          <div class="absolute inset-0 z-10 -skew-y-6 transform bg-gradient-to-r from-indigo-400 to-purple-400 shadow-lg sm:-rotate-6 sm:skew-y-0 sm:rounded-lg"></div>
          <div class="relative z-20 w-full max-w-4xl justify-between rounded-lg bg-white p-12 shadow-lg md:flex">
            <div class="flex-col justify-between space-y-6 py-6 sm:flex md:pr-10">
              <div>
                <h2 class="text-lg">Hello, I am</h2>
                <h1 class="pt-1 text-5xl font-bold text-gray-800">Adhavan Ponram</h1>
              </div>
              <p class="text-xl leading-relaxed">I am interested in Coding And Learning Machine Learning, Artificial Intelligence, Business Analytics, and Web-development</p>
            </div>
            <img src="https://media.licdn.com/dms/image/D5603AQGz-OcgW8W_fQ/profile-displayphoto-shrink_400_400/0/1675661834650?e=1684368000&v=beta&t=BKihbAkZm9GPfWr42mdYJDvceR0Vx-3p88M-c8Ecbmo" alt="" class="border-4 w-60 flex-shrink-0 rounded-full border-white shadow-md" />
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gray-50 pt-20 pb-28 px-8" >
            <div class="max-w-6xl mx-auto">
                <div class="text-center">
                    <h1 class="text-6xl font-bold text-gray-800" id="about">About me</h1>
                </div>
                <div
                    class="mt-24 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20"
                >
                    <div class="relative">
                        <div
                            class="absolute z-10 inset-0 bg-gradient-to-r from-indigo-400 to-purple-400 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-lg"
                        ></div>

                        <div
                            class="relative z-20 bg-white h-full rounded-md shadow-md px-10 py-12"
                        >
                            <ion-icon
                                name="phone-portrait-outline"
                                class="text-5xl text-indigo-500"
                            ></ion-icon>
                            <h2 class="pt-3 font-bold text-2xl">
                              Current Position
                            </h2>
                            <p class="pt-3">
                              A second-year Computer Science Engineering student at SRM Universit, passionate about using technology to solve real-world problems.
                            </p>
                        </div>
                    </div>
                    <div class="relative">
                        <div
                            class="absolute z-10 inset-0 bg-gradient-to-r from-indigo-400 to-purple-400 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-lg"
                        ></div>

                        <div
                            class="relative z-20 bg-white h-full rounded-md shadow-md px-10 py-12"
                        >
                            <ion-icon
                                name="layers-outline"
                                class="text-5xl text-indigo-500"
                            ></ion-icon>
                            <h2 class="pt-3 font-bold text-2xl">Outside of Academics</h2>
                            <p class="pt-3">
                                enjoys reading books, listening to music, learn about business, Exploring new fields and Playing games and otaku
                            </p>
                        </div>
                    </div>
                    <div class="relative">
                        <div
                            class="absolute z-10 inset-0 bg-gradient-to-r from-indigo-400 to-purple-400 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-lg"
                        ></div>

                        <div
                            class="relative z-20 bg-white h-full rounded-md shadow-md px-10 py-12"
                        >
                            <ion-icon
                                name="chatbubbles-outline"
                                class="text-5xl text-indigo-500"
                            ></ion-icon>
                            <h2 class="pt-3 font-bold text-2xl">
                                Skills
                            </h2>
                            <p class="pt-3">
                                Python, C programming, Ms Excel, Ms Word, HTML, CSS, Flask, and Machine Learning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-20 px-8">
            <div class="max-w-6xl mx-auto">
                <div class="text-center">
                    <h1 class="text-6xl font-bold text-gray-800" id="Projets">Projects</h1>
                    <p class="pt-2">The best of my works</p>
                </div>
                <div
                    class="mt-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-14"
                >
                    <div class="bg-white rounded-md shadow-md lg:col-span-2">
                        <img
                            src="https://media.istockphoto.com/id/1409271522/photo/the-mans-hands-are-holding-black-with-yellow-clapper-board-or-movie-slate-on-yellow-background.jpg?b=1&s=170667a&w=0&k=20&c=vb-Ae8pOyZ3VwIJjqj5mv1gud1bWrntZxAsMFOIlEpc="
                            alt=""
                            class="object-cover w-full h-80"
                        />
                        <div class="p-8">
                            <h3 class="font-bold text-2xl">Movie Recommednation Accoding to Genre</h3>
                            <p class="pt-3">
                               Movie Recommednation using OpenAI ,
                               The Website is developed using Flask for interface we have used Bootstrap
                               and deployed in Pythonanywhere .
                            </p>
                            <a
                                href="https://github.com/AdhavanHero/Movie_recommendation_Chatgpt"
                                class="inline-block mt-4 px-6 py-2 bg-gradient-to-r from-indigo-400 to-purple-400 rounded-md shadow-md text-sm font-bold text-white"
                                >View More</a
                            >
                        </div>
                    </div>
                    <div class="bg-white rounded-md shadow-md">
                        <img
                            src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt=""
                            class="object-cover w-full h-80"
                        />
                        <div class="p-8">
                            <h3 class="font-bold text-2xl">Medical Insurance Price Prediction</h3>
                            <p class="pt-3">
                                This Project is developed by using Machine learning scikit learn library,Datasets were imported from kaggle,The model got further developed in Spyder and deployed in Streamlit.
                            </p>
                            <a
                                href="https://github.com/AdhavanHero/Medical_Insurence_Price_Prediction"
                                class="inline-block mt-4 px-6 py-2 bg-gradient-to-r from-indigo-400 to-purple-400 rounded-md shadow-md text-sm font-bold text-white"
                                >View More</a
                            >
                        </div>
                    </div>

                    <div class="bg-white rounded-md shadow-md ">
                        <img
                            src="https://www.healthcareitnews.com/sites/hitn/files/COVID-19%20Hospital-HITN.png"
                            alt=""
                            class="object-cover w-full h-80"
                        />
                        <div class="p-8">
                            <h3 class="font-bold text-2xl">Heart Disease Prediction</h3>
                            <p class="pt-3">
                                Heart Disease Prediction is also developed in Python Machine Learning scikit learn library
                                ,Datasets were imported from kaggle,The model got further developed in Spyder and deployed in Streamlit .
                            </p>
                            <a
                                href="https://github.com/AdhavanHero/Heart_disease_prediction"
                                class="inline-block mt-4 px-6 py-2 bg-gradient-to-r from-indigo-400 to-purple-400 rounded-md shadow-md text-sm font-bold text-white"
                                >View More</a
                            >
                        </div>
                    </div>
                       <div class="bg-white rounded-md shadow-md lg:col-span-2">
                        <img
                            src="https://www.reputationx.com/hubfs/sentiment%20analysis%20%281%29.jpg"
                            alt=""
                            class="object-cover w-full h-80"
                        />
                        <div class="p-8">
                            <h3 class="font-bold text-2xl">Twitter Sentimental Anlaysis</h3>
                            <p class="pt-3">
                                Twitter Data is collected from Kaggle and The Data are analysed using Machine Learning
                                using nptk a Natural language Procesing Toolkit and for data visualization wordcloud and seaborn were used.
                            </p>
                            <a
                                href="https://github.com/AdhavanHero/ML_Domain_Activity/tree/main/Sentimental_Analysis_ML"
                                class="inline-block mt-4 px-6 py-2 bg-gradient-to-r from-indigo-400 to-purple-400 rounded-md shadow-md text-sm font-bold text-white"
                                >View More</a
                            >
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="bg-gray-50 px-8 pt-20 pb-36">
      <div class="mx-auto max-w-6xl">
        <div class="text-center">
          <h1 class="text-6xl font-bold text-gray-800" id="Contact">Contact</h1>
          <p class="pt-2">Get in touch with me</p>
        </div>
      </div>
      <div class="relative mx-auto mt-16 max-w-4xl">
        <div class="absolute inset-0 z-10 -skew-y-6 transform bg-gradient-to-r from-indigo-400 to-purple-400 shadow-lg sm:-rotate-6 sm:skew-y-0 sm:rounded-lg"></div>
        <div class="relative z-20 rounded-md bg-white p-12 shadow-md">
          <button type="Submit" style="background-color: white;margin-right:40px" class="btn btn">
              <a href="https://www.instagram.com/_.aadhavan_/"></a>
                  <img style="width: 70px;margin-bottom: px;margin-top: 20px;mix-blend-mode: multiply;background-blend-mode: multiply" src="https://i.pinimg.com/564x/ec/85/f0/ec85f0b7e434bbaac82ea4e39baeee19.jpg" alt=""/>
          </button>
          <button type="submit" style="margin-right:40px" class="btn btn">
              <a href="https://github.com/AdhavanHero?tab=repositories"></a>
                  <img style="width: 50px;margin-top: px;mix-blend-mode: multiply;background-blend-mode: multiply" src="https://i.pinimg.com/736x/62/59/a9/6259a9e2bcd1999d56211f299e99dcad.jpg" alt=""/>
          </button>
          <button type="submit" style="background-color:white" class="btn btn">
              <a href="https://www.linkedin.com/in/adhavan-ponram-3377671ab/"></a>
                  <img style="width: 50px;margin-top: px;mix-blend-mode: multiply;background-blend-mode: multiply" src="https://i.pinimg.com/736x/fa/47/aa/fa47aa4e863fafe703fc4c9b0dcb00a9.jpg" alt=""/>
          </button>

        </div>
      </div>
    </section>
  </body>
</html>
